<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../static/index.css">




</head>

<body>

    <form class="grid">
        <h2>

            <center>Current value of Portfolio : {{ name }} </center> <br />
            <center>Selected Investment Strategy/Strategies : {{ strategy }} </center> <br />
            <center>Stocks Chosen : {{ stock1 }}, {{ stock2 }},{{ stock3 }}, {{ stock4 }} </center> <br />
            <p>
            <center>Current value of {{ stock1 }} is {{stock1_price }} </center> <br/>
            <center>Invested money in {{ stock1 }} is {{ stock1_money }} </center> <br />
            </p>
            <p>
            <center>Current value of {{ stock2 }} is {{stock2_price }} </center> <br/>
            <center>Invested money in {{ stock2 }} is {{ stock2_money }} </center> <br />
            </p>
            <p>
            <center>Current value of {{ stock3 }} is {{stock3_price }}</center><br/>
            <center>Invested money in {{ stock3 }} is {{ stock3_money }} </center> <br />
            </p>
            <p>
            <center>Current value of {{ stock4 }} is {{stock4_price }}</center><br/>
            <center>Invested money in {{ stock4 }} is {{ stock4_money }} </center> <br />
            </p>
            <center><img src="investment-strategy.png" /> </center> <br />


        </h2>
    </form>



</body>

</html>